html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.container div {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: inline-block;
}
