html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    border:#acacac solid ;
    margin: auto; 
}

.box {
    border: black solid thin;
}