html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen
}

h1 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}
.etchContainer {
    text-align: center;
    background: rgb(192, 4, 4);
    box-shadow: 0px 1px 5px 2px black;
    padding: 50px;
    padding-bottom: 100px;
    padding-top: 20px;
    border-radius: 10% 10% 5% 5%;
}

.container {
    display: grid;
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    border:#acacac solid ;
    margin: auto; 
}

.box {
    border: black solid thin;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.erase,
.size,
#color{
    color: black;
    background-color: yellow;
    border: none;
    padding: 5px;
    font-size: 20px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
}


